[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = "*"
python-dotenv = "*"
requests = "*"
pymongo = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python __main__.py"
fmt = "black ."